app:
  base: /scratch3/BMC/hmtb/Paul.Madden/EAGLE/update
  conda: '{{ app.base }}/conda'
  levels: [100, 150, 200, 250, 300, 400, 500, 600, 700, 850, 925, 1000]
  partitions:
    netaccess: u1-service
  platform: &platform
    account: wrfruc
    scheduler: slurm
  rundir: '{{ app.base }}/run'
  time:
    start: !datetime 2022-02-01T00
    step: !timedelta 6
    stop: !datetime 2022-02-05T12
  variables:
    analysis:
      # 3D Prognostic
      - gh
      - u
      - v
      - w
      - t
      - q
      # 2D Prognostic
      - sp
      - u10
      - v10
      - t2m
      - t_surface
      - sh2
      # Diagnostic
      - u80
      - v80
      # Forcing
      - lsm
      - orog
    forecast:
      # Diagnostic
      - accum_tp
data:
  execution:
    batchargs:
      cores: 4
      memory: 10G
      partition: '{{ app.partitions.netaccess }}'
      rundir: '{{ app.rundir }}/data'
      walltime: '02:00:00'
    envcmds:
      - source {{ app.conda }}/etc/profile.d/conda.sh
      - conda activate data
      - set -ex
    executable: for x in {{ " ".join(data.ufs2arco) }}; do srun ufs2arco ufs2arco-$x.yaml --overwrite; done
  rundir: '{{ app.rundir }}/data'
  ufs2arco:
    gfs:
      directories: !dict '{{ ufs2arco.dirs | replace("X", "gfs") }}'
      mover: !dict '{{ ufs2arco.mover }}'
      multisource:
        - source: !dict '{{ dict(ufs2arco.source.analysis, name="gfs_archive", slices=ufs2arco.slices) }}'
        - source: !dict '{{ dict(ufs2arco.source.forecast, name="gfs_archive", slices=ufs2arco.slices) }}'
      target: !dict '{{ ufs2arco.target }}'
      transforms:
        horizontal_regrid:
          regridder_kwargs: !dict '{{ dict(ufs2arco.regridder, filename="conservative_719x1440_180x360.nc") }}'
          target_grid_path: global_one_degree.nc
    hrrr:
      directories: !dict '{{ ufs2arco.dirs | replace("X", "hrrr") }}'
      mover: !dict '{{ ufs2arco.mover }}'
      multisource:
        - source: !dict '{{ dict(ufs2arco.source.analysis, name="aws_hrrr_archive") }}'
          transforms:
            rotate_vectors:
              vector_pairs:
                - ['u', 'v']
                - ['u10', 'v10']
                - ['u80', 'v80']
        - source: !dict '{{ dict(ufs2arco.source.forecast, name="aws_hrrr_archive") }}'
      target: !dict '{{ ufs2arco.target }}'
      transforms:
        horizontal_regrid:
          regridder_kwargs: !dict '{{ dict(ufs2arco.regridder, filename="conservative_1059x1799_211x359.nc") }}'
          target_grid_path: hrrr_15km.nc
platform: *platform
ufs2arco:
  dirs:
    cache: cache/X
    logs: logs/X
    zarr: X.zarr
  mover:
    name: mpidatamover
  regridder:
    method: conservative
    reuse_weights: True
  slices:
    sel:
      latitude: [89.9, -89.9]
  source:
    analysis:
      fhr:
        end: 0
        start: 0
        step: !int '{{ (app.time.step.total_seconds() / 3600) | int }}'
      levels: !list '{{ app.levels }}'
      t0:
        end: '{{ (app.time.stop + app.time.step).strftime("%Y-%m-%dT%H") }}'
        freq: '{{ (app.time.step.total_seconds() / 3600) | int }}h'
        start: '{{ (app.time.start + app.time.step).strftime("%Y-%m-%dT%H") }}'
      variables: !list '{{ app.variables.analysis }}'
    forecast:
      fhr:
        end: 6
        start: 6
        step: !int '{{ (app.time.step.total_seconds() / 3600) | int }}'
      t0:
        end: '{{ app.time.stop.strftime("%Y-%m-%dT%H") }}'
        freq: '{{ (app.time.step.total_seconds() / 3600) | int }}h'
        start: '{{ app.time.start.strftime("%Y-%m-%dT%H") }}'
      variables: !list '{{ app.variables.forecast }}'
  target:
    chunks:
      cell: -1
      ensemble: 1
      time: 1
      variable: -1
    compute_temporal_residual_statistics: True
    forcings:
      - cos_latitude
      - sin_latitude
      - cos_longitude
      - sin_longitude
      - cos_julian_day
      - sin_julian_day
      - cos_local_time
      - sin_local_time
      - insolation
    name: anemoi
    sort_channels_by_levels: True
    statistics_period:
      end: 2022-02-03T12 # RELATION TO FCST/ANL?
      start: 2022-02-01T06 # RELATION TO FCST/ANL?
