data:
  execution:
    batchargs:
      # memory: 128g
      cores: 4
      partition: "{{ user.partitions.netaccess }}"
      rundir: "{{ user.rundir }}"
      walltime: "02:00:00"
    envcmds:
      - source {{ user.conda }}/etc/profile.d/conda.sh
      - conda activate data
    executable: ufs2arco ufs2arco-gfs.yaml --overwrite
  rundir: "{{ user.rundir }}"
  ufs2arco:
    gfs:
      directories:
        cache: cache/gfs
        logs: logs/gfs
        zarr: gfs.zarr
      mover:
        batch_size: 2
        name: datamover
      multisource:
        - source: # Analysis data
            fhr:
              end: 0
              start: 0
              step: !int '{{ (user.fcst.freq.total_seconds() / 3600) | int }}'
            levels: [100, 150, 200, 250, 300, 400, 500, 600, 700, 850, 925, 1000]
            name: gfs_archive
            slices: &slices
              sel:
                latitude: [89.9, -89.9]
            t0:
              end: '{{ (user.fcst.end + user.fcst.freq).strftime("%Y-%m-%dT%H") }}'
              freq: '{{ (user.fcst.freq.total_seconds() / 3600) | int }}h'
              start: '{{ (user.fcst.start + user.fcst.freq).strftime("%Y-%m-%dT%H") }}'
            variables:
              # 3D Prognostic
              - gh
              - u
              - v
              - w
              - t
              - q
              # 2D Prognostic
              - sp
              - u10
              - v10
              - t2m
              - t_surface
              - sh2
              # Diagnostic
              - u80
              - v80
              # Forcing
              - lsm
              - orog
        - source: # Forecast data
            fhr:
              end: 6
              start: 6
              step: !int '{{ (user.fcst.freq.total_seconds() / 3600) | int }}'
            name: gfs_archive
            slices: *slices
            t0:
              end: '{{ user.fcst.end.strftime("%Y-%m-%dT%H") }}'
              freq: '{{ (user.fcst.freq.total_seconds() / 3600) | int }}h'
              start: '{{ user.fcst.start.strftime("%Y-%m-%dT%H") }}'
            variables:
              # Diagnostic
              - accum_tp
      target:
        chunks:
          cell: -1
          ensemble: 1
          time: 1
          variable: -1
        compute_temporal_residual_statistics: True
        forcings:
          - cos_latitude
          - sin_latitude
          - cos_longitude
          - sin_longitude
          - cos_julian_day
          - sin_julian_day
          - cos_local_time
          - sin_local_time
          - insolation
        name: anemoi
        sort_channels_by_levels: True
        statistics_period:
          end: 2022-02-03T12 # RELATION TO FCST/ANL?
          start: 2022-02-01T06 # RELATION TO FCST/ANL?
      transforms:
        horizontal_regrid:
          regridder_kwargs:
            filename: conservative_719x1440_180x360.nc
            method: conservative
            reuse_weights: True
          target_grid_path: global_one_degree.nc
platform:
  account: wrfruc
  scheduler: slurm
user:
  fcst:
    end: !datetime 2022-02-05T12
    freq: !timedelta 6
    start: !datetime 2022-02-01T00
  base: /scratch3/BMC/gsd-hpcs/Paul.Madden/EAGLE/update
  conda: "{{ user.base }}/conda"
  partitions:
    netaccess: u1-service
  rundir: "{{ user.base }}/run"
