data:
  execution:
    batchargs:
      cores: 4
      partition: "{{ eagle.partitions.netaccess }}"
      rundir: "{{ eagle.rundir }}"
      walltime: "02:00:00"
    envcmds:
      - source {{ eagle.conda }}/etc/profile.d/conda.sh
      - conda activate data
    executable: ufs2arco ufs2arco-gfs.yaml --overwrite
  rundir: "{{ eagle.rundir }}"
  ufs2arco:
    gfs:
      directories:
        cache: cache/gfs
        logs: logs/gfs
        zarr: gfs.zarr
      mover:
        batch_size: 2
        name: datamover
      multisource:
        - source: # Analysis
            fhr:
              end: 0
              start: 0
              step: !int '{{ (eagle.fcst.freq.total_seconds() / 3600) | int }}'
            levels: !list '{{ eagle.levels }}'
            name: gfs_archive
            slices: !dict '{{ eagle.ufs2arco.slices }}'
            t0:
              end: '{{ (eagle.fcst.end + eagle.fcst.freq).strftime("%Y-%m-%dT%H") }}'
              freq: '{{ (eagle.fcst.freq.total_seconds() / 3600) | int }}h'
              start: '{{ (eagle.fcst.start + eagle.fcst.freq).strftime("%Y-%m-%dT%H") }}'
            variables: !list '{{ eagle.variables.anl }}'
        - source: # Forecast
            fhr:
              end: 6
              start: 6
              step: !int '{{ (eagle.fcst.freq.total_seconds() / 3600) | int }}'
            name: gfs_archive
            slices: !dict '{{ eagle.ufs2arco.slices }}'
            t0:
              end: '{{ eagle.fcst.end.strftime("%Y-%m-%dT%H") }}'
              freq: '{{ (eagle.fcst.freq.total_seconds() / 3600) | int }}h'
              start: '{{ eagle.fcst.start.strftime("%Y-%m-%dT%H") }}'
            variables: !list '{{ eagle.variables.fcst }}'
      target:
        chunks:
          cell: -1
          ensemble: 1
          time: 1
          variable: -1
        compute_temporal_residual_statistics: True
        forcings:
          - cos_latitude
          - sin_latitude
          - cos_longitude
          - sin_longitude
          - cos_julian_day
          - sin_julian_day
          - cos_local_time
          - sin_local_time
          - insolation
        name: anemoi
        sort_channels_by_levels: True
        statistics_period:
          end: 2022-02-03T12 # RELATION TO FCST/ANL?
          start: 2022-02-01T06 # RELATION TO FCST/ANL?
      transforms:
        horizontal_regrid:
          regridder_kwargs:
            filename: conservative_719x1440_180x360.nc
            method: conservative
            reuse_weights: True
          target_grid_path: global_one_degree.nc
eagle:
  fcst:
    end: !datetime 2022-02-05T12
    freq: !timedelta 6
    start: !datetime 2022-02-01T00
  base: /scratch3/BMC/gsd-hpcs/Paul.Madden/EAGLE/update
  conda: "{{ eagle.base }}/conda"
  levels: [100, 150, 200, 250, 300, 400, 500, 600, 700, 850, 925, 1000]
  partitions:
    netaccess: u1-service
  rundir: "{{ eagle.base }}/run"
  ufs2arco:
    slices:
      sel:
        latitude: [89.9, -89.9]
  variables:
    anl:
      # 3D Prognostic
      - gh
      - u
      - v
      - w
      - t
      - q
      # 2D Prognostic
      - sp
      - u10
      - v10
      - t2m
      - t_surface
      - sh2
      # Diagnostic
      - u80
      - v80
      # Forcing
      - lsm
      - orog
    fcst:
      # Diagnostic
      - accum_tp
platform:
  account: wrfruc
  scheduler: slurm
