data:
  execution:
    batchargs:
      # memory: 128g
      cores: 4
      partition: "{{ user.partitions.netaccess }}"
      rundir: "{{ user.rundir }}"
      walltime: "02:00:00"
    envcmds:
      - source {{ user.conda }}/etc/profile.d/conda.sh
      - conda activate data
    executable: ufs2arco ufs2arco-gfs.yaml --overwrite
    mpicmd: srun
  rundir: "{{ user.rundir }}"
  ufs2arco:
    gfs:
      mover:
        name: mpidatamover
      directories:
        cache: cache/gfs
        logs: logs/gfs
        zarr: gfs.zarr
      multisource:
        - source: # analysis data
            name: gfs_archive
            t0:
              start: 2022-02-01T06
              end: 2022-02-15T18
              freq: 6h
            fhr:
              start: 0
              end: 0
              step: 6
            variables:
              # 3D Prognostic
              - gh
              - u
              - v
              - w
              - t
              - q
              # 2D Prognostic
              - sp
              - u10
              - v10
              - t2m
              - t_surface
              - sh2
              # Diagnostic
              - u80
              - v80
              # Forcing
              - lsm
              - orog
            levels: [100, 150, 200, 250, 300, 400, 500, 600, 700, 850, 925, 1000]
            slices:
              sel:
                latitude: [89.9, -89.9]
        - source: # forecast data
            name: gfs_archive
            t0:
              start: 2022-02-01T00
              end: 2022-02-15T12
              freq: 6h
            fhr:
              start: 6
              end: 6
              step: 6
            variables:
              # Diagnostic
              - accum_tp
            slices:
              sel:
                latitude: [89.9, -89.9]
      transforms:
        horizontal_regrid:
          target_grid_path: global_one_degree.nc
          regridder_kwargs:
            method: conservative
            reuse_weights: True
            filename: conservative_719x1440_180x360.nc
      target:
        name: anemoi
        sort_channels_by_levels: True
        compute_temporal_residual_statistics: True
        statistics_period:
          start: 2022-02-01T06
          end: 2022-02-03T12
        forcings:
          - cos_latitude
          - sin_latitude
          - cos_longitude
          - sin_longitude
          - cos_julian_day
          - sin_julian_day
          - cos_local_time
          - sin_local_time
          - insolation
        chunks:
          cell: -1
          ensemble: 1
          time: 1
          variable: -1
platform:
  account: wrfruc
  scheduler: slurm
user:
  base: /scratch3/BMC/gsd-hpcs/Paul.Madden/EAGLE/update
  conda: "{{ user.base }}/conda"
  partitions:
    netaccess: u1-service
  rundir: "{{ user.base }}/run"
